.cards{
    display: flex;
    justify-content: space-between;
    justify-content: space-evenly;
    list-style-type: none;

}

.reported{
    height: 110px;
    width: 200px;
    background-color: #012970;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    padding-left: 10px;
    box-shadow: 0 4px 8px rgba(67, 35, 35, 0.5);
}
.cards li{
    color: white;
}
.users{
    
        height: 110px;
        width: 200px;
        background-color: #012970;
        border-radius: 10px;
        cursor: pointer;
        padding: 10px;
        padding-left: 10px;
        box-shadow: 0 4px 8px rgba(67, 35, 35, 0.5);
    }
.solved{
    height: 110px;
    width: 200px;
    background-color: #012970;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px;
    padding-left: 10px;
    box-shadow: 0 4px 8px rgba(67, 35, 35, 0.5);
    
}
.cards span{
    margin-left: 5px;
}
.cards h1{
    padding: px;
    padding-left: 35px;
}
.cards i{
    color: rgb(245, 142, 142);
}
